$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// RxTheme Variables
@import 'stylesheets/variables';
@import 'stylesheets/theme-e.scss';

// Load Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$sidebar_width: 10%;

.outer-grid {
  padding: 0;
  .row {
    padding: 0;
  }
}

.navbar {
  margin-bottom: 0;
}

.sidebar {

  position: fixed;
  padding: 0;
  height: 100%;
  width: $sidebar_width;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  
  &.closed {
    width: $sidebar_width/3;
  }
}

.content-wrapper {
  position: fixed;
  left: $sidebar_width;
  height: 100%;
}

.navbar-brand {

  .rx-project-name {
    color: #fff;
    font-size: 2.0em;
    padding: 5%;
  }

}

.rx-footer {
  height: 5%;
  position: fixed;
  left: $sidebar_width;
}

// Custom Overrides Here
